.title_account {
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
    color: #bfcdd0;
    font-weight: 600;
    font-family: cursive;
    margin-bottom: 2rem;
}

.title_account_child {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 2rem;
}

.text {
    color: #bfcdd0;
    transition: color 0.5s linear;
}

.text:hover {
    cursor: pointer;
    color: black;
}


/* Login */

.login-box {
    width: 30%;
    /* background: rgba(0, 0, 0, .5); */
    box-sizing: border-box;
    border-radius: 10px;
    margin:auto;
    color: #c7d3d6;
    font-family: Dosis;
    min-height: 20rem;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #c7d3d6;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #c7d3d6;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 0.8rem;
    color: #7b7c7c;
    pointer-events: none;
    transition: .3s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -1.4rem;
    left: 0;
    color: #c7d3d6;
    font-size: 0.7rem;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #c7d3d6;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #c7d3d6;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}
.button_login{
    width: 100%;
    text-align: center;
    color: black;
    background-color: #bfcdd0;
    border: none;
    font-family: 'Raleway';
    font-size: 0.75rem;
    font-weight: 900;
    line-height: 2.5rem;
}

.button_login:hover{
    cursor: pointer;
    background-color: #7b7b7b;
}


