body {
  background-color: rgb(249 249 249);
}
.chooseItem {
  position: relative;
  width: 180px;

}   

.chooseItem-parents {
  border: 1px solid #d7cccccc;
  height: 32px;
  outline: none;
}
  
.chooseItem-icon {
  position: absolute;
  top: 1px;
  right: 22px;
  padding: 8px 8px 20px 16px;
  cursor: pointer;
}

.chooseItem-icon:hover .chooseItem-item {
  display: block;
}
  
.chooseItem-list {
  list-style: none;
  position: absolute;
  top: 19px;
  right: -4px;
  background-color: #fff;
  padding-left: 0;
}
  
.chooseItem-item {
  width: 130px;
  color: #333;
  font-size: 16px;
  padding: 6px 4px;
  border-bottom: 1px solid #ded1d1;
  padding-left: 10px;
  cursor: pointer;
  display: none;
}

.chooseItem-item:hover {
  background-color: rgba(153, 153, 153, 0.418);
}